@model MVC.Models.Store
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var title = "Create Store";
}

<form method="post" >
    <div style="padding-left:15%; padding-right:15%; padding-bottom:inherit.4rem;">
        <div class="row border-0">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        </div>
    </div>
    @if(Model.Id != 0)
    {
        title = "Update Store";
        <input type="hidden" asp-for="Id" id="id"/>
    }
    <div class="col-12 border-bottom p-0">
        <h2 class="text-primary">@title</h2>        
    </div>
    <div class="row mb-2">
        <div class="form-group col-md-6">
            <label>Name</label>
            <input type="text" asp-for="Name" id="name" class="form-control" placeholder="Store name" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
    </div>
    <div class="row mb-2">
        <div class="form-group col-md-6">
            <label>Description</label>
            <input type="text" asp-for="Description" class="form-control" placeholder="Store Description" />
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
    </div>
    <div class="row mb-2">
        <div class="form-group col-md-6">
            <label>State</label>
            <select asp-for="State" class="form-select">
                <option value=true>Active</option>
                <option value=false>Disable</option>
            </select>
            <span asp-validation-for="State" class="text-danger"></span>
        </div>
    </div>
    <br/>
    <div>
        <partial name="_UpdateReturnBtn" model="Model.Id" />
    </div>

</form>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
    <script>
        document.getElementById("name").addEventListener('change', function () {
            validateName();
        });

        function validateName() {
            var url = '@Url.Content("~/")' + "Admin/Store/ValidateName";
            var id = '#id';
            var name = '#name';

            $.getJSON(url, { id: $(id).val(), name: $(name).val() }, function (data) {
                $.each(data, function (key, value) {
                    if (value) {
                        var name = document.getElementById("name");
                        Swal.fire("Error", "Name Exists", "error");
                        // name.value = "";
                    }
                })
            })
        }
    </script>
}
