<div class="d-grid gap-2 d-md-block">
    <button type="submit" class="btn btn-primary" onfocus="false" asp-action="Upsert">
        <i class="bi bi-plus-square"></i>Create
    </button>
    <button type="submit" class="btn btn-secondary" onfocus="false" asp-action="CreateNew">
        <i class="bi bi-plus-square"></i>Create y Nuevo
    </button>
    <a asp-action="index" class="btn btn-success">
        <i class="bi bi-arrow-return-left"></i>Return
    </a>
</div>

@section Scripts {
    <script src="~/js//Saved.js"></script>
}
