@model int
<div class="container row">
    <div class="col-12 text-center">
        <h1 class="text-primary text-center">Pago Cancelado</h1><br />
        <img src="~/images/cancel.jpg" width="50%" />
    </div>
    <div class="col-12 text-center" style="color:maroon">
        <br />
       Su Pago no se realizo! <br />
        Se le enviara notificacion!
        <br />
        Tu numero de Orden es : @Model

        <div class="text-center">
            <a asp-area="Inventory" asp-controller="Home" asp-action="Index" class="btn btn-success">Salir</a>
        </div>

    </div>

</div>